.container{
    width:920px;
}
#logo{
    font-size: 0.9em;
    font-weight: 600;
    color: #485fc7;
    text-align: center;
}
.navbar{
    border-bottom: 1px #00000014 solid;
}

.navbar-item .checkbox{
    border: 1px #485fc7 solid;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.card{
    width: 100%;
}